<html>
	<head>
		<title>
			Please Log In
		</title>
		<link rel="stylesheet" type="text/css" href="http://localhost/style/sample.css" />
	</head>
	<body>
		<h1>
			Please log in.
		</h1>
		<form name="passreq" method="POST" action="/" >
			<table width="33%" border="0" cellspacing="8" cellpadding="0">
				<tr>
					<td width="20%" valign="middle">
						<p class="fieldlabel">
							Username: 
						</p>
					</td>
					<td width="80%" valign="middle">
						<input type="text" name="user" value="" />
					</td>
				</tr>
				<tr>
					<td width="20%" valign="middle">
						<p class="fieldlabel">
							Password: 
						</p>
					</td>
					<td width="80%" valign="middle">
						<input type="password" name="password" value="" /> 
					</td>
				</tr>
				<tr>
					<td colspan="2" width="100%">
						<input type="submit" value="Log In" />
					</td>
				</tr>
			</table>
			<input type="hidden" name="checkauth" value="auth" />
		</form>
		<p>
			Don't have a login? Create one
			<a href="/?register=yes">here</a>.
		</p>
	</body>
</html>
