<html>
	<head>
		<title>
			Change Your Password
		</title>
		<link rel="stylesheet" type="text/css" href="http://localhost/style/style/sample.css" />
	</head>
	<body>
		<h1>
			Change your password.
		</h1>
		<form name="passreq" method="POST" action="/" >
			<table width="33%" border="0" cellspacing="8" cellpadding="0">
				<tr>
					<td width="50%" valign="middle">
						<p class="fieldlabel">
							Username: 
						</p>
					</td>
					<td width="55%" valign="middle">
						<input type="text" name="user" value="" />
					</td>
				</tr>
				<tr>
					<td width="50%" valign="middle">
						<p class="fieldlabel">
							Old (Current) Password: 
						</p>
					</td>
					<td width="50%" valign="middle">
						<input type="password" name="old_password" value="" /> 
					</td>
				</tr>
				<tr>
					<td width="50%" valign="middle">
						<p class="fieldlabel">
							New Password: 
						</p>
					</td>
					<td width="50%" valign="middle">
						<input type="password" name="password" value="" /> 
					</td>
				</tr>
				<tr>
					<td width="50%" valign="middle">
						<p class="fieldlabel">
							New Password (again): 
						</p>
					</td>
					<td width="50%" valign="middle">
						<input type="password" name="password1" value="" /> 
					</td>
				</tr>
				<tr>
					<td colspan="2" width="100%">
						<input type="submit" value="Change" />
					</td>
				</tr>
			</table>
			<input type="hidden" name="change_password" value="yes" />
		</form>
	</body>
</html>
